        <img src="./Arena_Background.webp" class="mx-auto back" alt="Battlescreen">
        <div class="text front">
   
            <!-- text gets injected here -->
            
            <svg class="corner" viewBox="0 0 0 0 " fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M35 3.5L65 6.5V62L0 0L35 3.5Z" fill="white"/>
            </svg>

         </div>
         <img src="./Character.jpeg" class="character" alt="characterplaceholder">
         <img src="./kisspng-bloodborne-concept-art-enemy-character-5b15bbbd4a5206.4162723415281509733044.jpeg" class="enemy" alt="enemy">
   