<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=Silkscreen&display=swap" rel="stylesheet">
    <title>Firstdraft Open Screen</title>
    
</head>
<body>
    <header class="display-5 text-center">BATTLE GAME ARENA</header>
    <main class="">
        <img src="./Arena_Background.webp" class="mx-auto back" alt="Battlescreen">
        <div class="text front">
   
            <!-- text gets injected here -->
            
            <svg class="corner" viewBox="0 0 0 0 " fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M35 3.5L65 6.5V62L0 0L35 3.5Z" fill="white"/>
            </svg>

         </div>
         <img src="./Character.jpeg" class="character" alt="characterplaceholder">
         <img src="./kisspng-bloodborne-concept-art-enemy-character-5b15bbbd4a5206.4162723415281509733044.jpeg" class="enemy" alt="enemy">
   
    </main>


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    
</body>
</html>