 <main>
    <header class="display-5 text-center">COMBAT ARENA</header>
    <div class="scenery">
        <div class="front" style="margin: auto;" id="dialogue">YOU'RE AN ADVENTURER WHO WAS RECENTLY CAPTURED BY MONSTERS AND FORCED TO FIGHT FOR THEIR ENTERTAINMENT! <br> WITHIN EACH TURN YOU CAN SELECT 1 OF 3 OPTIONS: <br> <b>SWORD ATTACK</b> <br> <b>SHIELD ATTACK</b> <br> <b>ARROW ATTACK</b> <br> SWORD ATTACK BEATS ARROW ATTACK, <br> SHIELD ATTACK BEATS SWORD ATTACK, <br> AND ARROW ATTACK BEATS SHIELD ATTACK. <br> IF YOU LOSE, YOUR HEALTH IS DECREASED BASED ON YOUR OPPONENT'S STRENGTH. IF YOU WIN, YOUR OPPONENT'S HEALTH IS DECREASED BASED ON YOUR STRENGTH.</div>
        <div class="dialoguestep">
            <a href="/" id="logout"  class="next"><< Back</a>
            <a href="/combat" id="firstlevel"  class="next ">Next >></a>
        </div>


    </div>
</main>
    


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="./js/dialoguepage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
