<header><h1 style='text-align: center;'>COMBAT ARENA</h1></header>
<main>
  <div class='scenery'>
    <div
      class='loginform'
      style='border: 5px solid black;opacity: 80%;  background-color:white;position:relative;'
    >
      <div class='login'>
        <form
          style='text-align: center;'
          action='/login'
          method='POST'
          class='front'
        >
          <div>
            <label for='email '>Email : </label>
            <input type='text' id='email' name='email' required />
          </div>
          <div>
            <label for='password'>Password: </label>
            <input type='text' id='password' name='password' required />
          </div>
          <button
            id='none'
            style='text-align: center;margin: 20px;'
            type='submit'
          >Login</button>
        </form>
      </div>
      <div style='text-align: center;'>
        <a href='/register'>Register</a>
      </div>

    </div>

  </div>

</main>
<script src='./js/login.js'></script>
<script
  src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js'
  integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3'
  crossorigin='anonymous'
></script>
<script
  src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js'
  integrity='sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk'
  crossorigin='anonymous'
></script>