<header><h1 style="text-align: center;">COMBAT ARENA</h1></header>
    <main>
        <div class="scenery">
            <div class="loginform" style="border: 5px solid black;opacity: 80%;  background-color:white;position:relative;">
                <div class="login" >
                    <form style="text-align: center;" action="/register" method="POST" class="front" >
                        <div>
                            <label for="name">Create Name:</label>
                            <input type="text" id="name" name="name" 
                            required>
                        </div>
                        <div>
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" 
                            required>
                        </div>
                        <div>
                            <label for="password">Create Password:</label>
                            <input type="text" id="password" name="password" 
                            required>
                        </div>
                        <button id="none" type="submit">Register</button>
                    </form>  
                </div>
                <div style="text-align: center;">
                <a href="/login">Login</a>
                </div>

            </div>

        </div>
        
    </main> 