body{
   background-color: coral;
}

button {
  background-color: #000000;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 95%;
  }

  .text span {
    opacity: 0;
 }
 .text span.revealed {
    opacity: 1;
 }
 .text span.green {
    color: #27ae60;
 }
 .text span.red {
    color: #ff0000;
 }

 body {
    background: #020405;
    padding: 3em;
    font-family: "'Inter Tight', sans-serif;";
 }
 .text {
    font-size: 4vw;
    word-spacing: 0.2em;
    margin: 0 auto;
    background: #fff;
    padding: 0.5em;
    border: 0.5vw solid #000000;
    position:relative;
    line-height: 1.2em;
    height: 25%;
    width: 70%;
    font-family: 'Silkscreen', cursive;
 }
 .corner {
    position:absolute;
    width: 2vw;
    right:2vw;
    bottom:0;
    transform: translateY(80%); 
 }

 .back
 {
   position:absolute;
   top: 140px;
   left: 220px;
   z-index: 1;
 }
 .front
 {
   position:relative;
   top: 25px;
   left: 0px;
   z-index: 2;   
 }

 .character
 {
   position:relative;
   top: 200px;
   left:-200px;
   z-index: 3;   
   width: 10%;
   /* opacity: 50%; */
   /* overflow:hidden;
   background-blend-mode: darken; */
   mix-blend-mode: multiply;
 }

 .enemy
 {
   position:relative;
   top: 40px;
   left:150px;
   z-index: 4;   
   width: 20%;
   /* opacity: 50%; */
   /* overflow:hidden;
   background-blend-mode: darken; */
   mix-blend-mode: multiply;
 }

 .login
   {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
     
    }
 
    a {
      text-decoration: none;
    }
    
    nav {
       font-family: monospace;
       position:relative;
      z-index: 2;
      width: 10%;
    }
    
    ul {
      
       list-style: none;
       /* margin: 0;
       padding-left: 0; */
    }
    
    li {
       color: #fff;
      background: rgb(6, 5, 5);
       
       padding: 1rem;
       text-decoration: none;
      transition-duration: 0.5s;
      text-align: center;
    }
      
   
    
    li:hover {
       cursor: pointer;
       opacity: 50%;
    }
    
    ul li ul {
       background: orange;
       visibility: hidden;
      opacity: 0;
      min-width: 5rem;
       position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
       left: 0;
      display: none;
    }
    
    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }
    
    ul li ul li {
       clear: both;
      width: 100%;
    }

    #myProgress {
      width: 10%;
      
    }
    
    #myBar {
      width: 70%;
      height: 30px;
      background-color: rgb(128, 0, 9);
      color: #fff;
    }  

    #myProgress2 {
      width: 10%;
      
    }
    
    #myBar2 {
      width: 80%;
      height: 30px;
      background-color: rgb(23, 0, 128);
      color: #fff;
    }  

    #TextBox{
       background-color: #fff;
       color: #000000;
       text-align: center;
       width: 300px;
       height: 100px;
       border: 5px solid black;
       font-family: 'Silkscreen', cursive;

    }

    .next {
      background-color: #000000;
      color: white;
      text-decoration: none;
      /* display: inline-block; */
      padding: 8px 16px;
      top:10px;
      position:relative;
     top: 25px;
     left: 0px;
     z-index: 2
    }

    .next:hover {
      background-color: #ddd;
      color: black;
    }

    #dialogue{
      background-color: #fff;
      color: #000000;
      text-align: center;
      width: 600px;
      height: 300px;
      border: 5px solid black;
      font-family: 'Silkscreen', cursive;

   }

   .restart{
     display: none;
   }
